.main-header.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
}

.navbar {
  position: relative;
  width: 100%;
  height: 64px;
  line-height: 63px;
  background: #fff;

  box-shadow: 0 0 1px rgba(0,0,0,.15);
  z-index: 100;
}
.navbar .blog-logo {
  padding: 19.5px 15px;
}
.navbar .blog-logo img {
  width: 142px;
  height: auto;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar .nav > li {
  display: inline-block;
  margin-left: 10px;
}

.home-template .page-title span {
  font-weight: 400;
}
.rocksalt {
  font-family: 'Rock Salt' sans-serif;
  font-size: .75em;
}

.post-head .post-meta,
.post-head .post-meta a {
  color: rgba(255, 255, 255, .8);
}

.post-cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 30%;
  margin-bottom: 20px;
}
.post-cover img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.read-more {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 15px;
  line-height: 1;
  font-size: 12px;
  border: 1px solid #ddd;
}
